@import "colors";

$fullWidth: 100%;
$halfWidth: 50%;
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;

body {
  color: $darkGrey-color;
  background-color: $grey-bgColor;
}

img {
  width: $fullWidth;
  height: $fullWidth;
}

.container {
  background-color: green;
  padding: $spacing-2;

  .card {
    background-color: white;
    padding: $spacing-2;
    width: $halfWidth;

    .time {
      text-align: right;
      font-size: 14px;
      margin: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: $halfWidth;
  }
}
